/* Resume css */

.linebreak {
	width: 100%;
	visibility: visible;
	border-bottom: 1px solid rgba(55, 53, 47, 0.16);
}

// main {
// 	display: flex;
// 	flex-direction: column;
// 	padding-bottom: 200px;
// }

.linkUnderline {
	text-decoration: none;
	border-bottom: rgba(0, 183, 255, 0.384) 2px solid;
	display: inline;
}

.linkUnderline:hover {
	border-bottom: rgb(0, 183, 255) 2px solid;
	color: rgb(0, 119, 255);
	font-weight: 500;

	transition-duration: 0.3s;
}

.highlight {
	background-color: rgba(105, 253, 253, 0.25);
	border-radius: 0.125rem;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.25rem;
	margin-bottom: 0.5rem;
	padding: 0.125rem 0.25rem;
	color: rgb(0, 5, 5);
}

#channel {
	margin-left: 20px;
}

#channel p {
	padding-left: 20px;
}

#file {
	margin-left: 200px;
}

.content {
	padding-bottom: 30px;
}

@media all and (max-width: 480px) {
	.container {
		display: flex;
		flex-direction: column;
	}
	#picture {
		margin: 0 auto;
		padding-bottom: 1em;
	}
	#contact {
		margin-left: 0px;
	}
	#channel {
		margin-left: 0;
		margin-top: 15px;
	}
	#channel p {
		padding-left: none;
	}
	#file {
		margin-left: 0;
		margin-top: 15px;
	}
	#contact p {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	#contact p span {
		margin-right: 8px;
	}
	section.subMainSection {
		display: flex;
		margin-top: 20px;
		padding-left: 0px;
	}
	.projectBullet {
		padding-left: 25px;
	}

	.logo-box {
		margin: 2px 0;
	}
	h3 {
		justify-content: center;
	}

	$vw: 100vw;
}

h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.3em;
	font-weight: 400;
	margin: 1em 0;
}

.logo-box {
	display: flex;
	justify-content: center;
	margin: 2px 0;
}

.logo-box li {
	display: flex;
	justify-content: center;
	padding: 0 2px;
	list-style-type: none;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.border {
	position: relative;
	min-width: 250px;
	min-height: 350px;
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset -5px -5px 5px rgba(255, 255, 255, 0.5),
		5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
	border-radius: 15px;
	margin: 10px;
}

#github {
	min-width: 100px;
}

#css3 {
	max-height: 30px;
}
ul > li {
	margin-left: 30px;
	font-size: 1.2rem;
}
.stack {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	max-width: 100%;
}

.stack img {
	height: 30px;
}

.stack li {
	padding: 3px 3px;
}

.stack span {
	font-size: 1.2rem;
	margin: auto 0;
	padding-right: 15px;
}
