p code {
	background-color: lightgrey;
	color: red;
}

blockquote {
	border-left: 5px solid #eee;
	margin: 0 0 20px;
	padding: 10px 20px;
}

pre {
	border: 1px solid lightgrey;
	padding: 9.5px;
	border-radius: 4px;
	line-height: 1.42857143;
	color: #333;
	background-color: #f5f5f5;
	word-wrap: break-word;
}
